<!DOCTYPE html>
<html>
<head>
  <title>Dit is mijn site</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device=width, initial-scale=1'>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
    <body>
      <div class="container">
      
    <h1 class="text-center mt-4">Hoi</h1>
        <div  class="text-center">
      <h2>
       {{company}}
    </h2>
    <img class="img-fluid" id="banner", src="{{ url_for('static', filename='images/plaatje.png') }}" alt="User Image">
    <h2 class="text-center">
       test
    </h2>
      <p>
         GitHub is a platform for sharing and collaborating on software development projects which is powered by a version control system git. We can begin by heading to GitHub and creating a new repository.
      </p>
   </div>
      <h2 class="text-center">Open positions</h2>
        {% for job in jobs  %} 
          {% include 'jobitem.html' %}
        {% endfor %}
       <div class="text-center">
         <button class="btn btn-primary btn-lg">Contact Us</button>
         <p>Copyright Rijk</p>
  </body>
</html>