<!DOCTYPE html>
<html>
<head>
  <title>Dit is mijn site</title>
  <style>
    h1 { 
      font: size; 40px;
      font-weight: normal;
      color: rgb(100, 100, 100);
      text-align: center;
       }
  #banner { width: 100%;
            height: 250px;
            object-fit: cover;
  }
    #container {
      max-width: 720px;
      margin-left: 10px;
    }
    
  </style>
</head>
    <body>
      <div id="container">
      
    <h1>Hoi</h1>
    <p>
       haha
    </p>
    <img id="banner", src="{{ url_for('static', filename='images/plaatje.png') }}" alt="User Image">
    <p>
       test
    </p>
      <p>
         GitHub is a platform for sharing and collaborating on software development projects which is powered by a version control system git. We can begin by heading to GitHub and creating a new repository.
      </p>
      
      </div>
  </body>
</html>